{% extends "layout.twig" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    <ul>
        <li><a class="btn btn-primary" href="/add/job">Add Job</a></li>
        <li><a class="btn btn-primary" href="/user/create">Create
                User</a></li>
        <li><a class="btn btn-primary" href="/jobs">
                Manage jobs
            </a></li>
    </ul>

    <br><br>
    <a href="/logout" class="btn btn-danger">Logout</a>
{% endblock %}